.Portfolio {
  background-color: #fff;
  padding: 9%;
}

.Portfolio-title {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #7606d1;
}

.h {
  width: 2%;
  margin-top: 5px;
  background-color: #ff0000;
}