.Skills {
  background-color: #000;
  color: #fff;
  padding: 9%;
}

.Skills__title {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #7606d1;
}

.skills__container {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}

.skills__frontend {
  background-color: #27044267;
  padding: 6%;
  border-radius: 20px;
}

.skills__frontend:hover {
  background-color: transparent;
  color: #7606d15e;
  border: 1px solid #7606d1;
  transition: 2s ease 0s;
}

.skills__backend {
  background-color: #27044267;
  padding: 5%;
  border-radius: 20px;
}

.skills__backend:hover {
  background-color: transparent;
  color: #7606d15e;
  border: 1px solid #7606d1;
  transition: 2s ease 0s;
}

.skills__head {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #f8e9ff;
}

.skills-items-icon {
  color: #7606d1;
  margin-right: 5px;
}

.skills__content {
  column-count: 2;
  margin-top: 5%;
}

.skills-items {
  display: flex;
  width: 100%;
  padding: 10%;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 800px) {
  .Skills {
    padding-bottom: 35%;
  }

  .Skills__title {
    margin-top: 20%;
  }
  
  .skills__container {
    display: flex;
    padding: 10%;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10%;
  }

  .skills__backend {
    margin-top: 10%;
  }

  .skills__head {
    font-size: 15px;
  }

  .skills-items {
    font-size: 10px;
  }
}
