.Footer {
  display: flex;
  background-color: #000;
  color: #d7d7d7;
  width: 100%;
  bottom: 0;
}

.footerLogo {
  width: 4%;
}

.Copyright {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  margin: 2%;
}
