#Contact {
  background-color: #000;
  padding: 9%;
  font-family: 'Roboto', sans-serif;
}

.contact-haed {
  text-align: center;
  color: #7606d1;
  font-size: 30px;
}

.container-contact {
  height: 300px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding-top: 5%;
  background-color: #fff;
  color: #000;
  box-shadow: #fff 0 2px 8px 0;
  padding-bottom: 10%;
}

.text-form {
  display: flex;
  justify-content: space-around;
}

.contact-text {
  display: flex;
  font-weight: bold;
  width: 50%;
  justify-content: flex-start;
  font-size: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
}

.input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fullName {
  border: transparent;
  border-bottom: solid 1px #000;
  padding: 2%;
  width: 43%;
}

.fullName::placeholder {
  color: #0000009d;
}

.email {
  border: transparent;
  border-bottom: solid 1px #000;
  padding: 2%;
  width: 43%;
}

.email::placeholder {
  color: #0000009d;
}

.subject {
  border: transparent;
  border-bottom: solid 1px #000;
  width: 96%;
  padding: 2%;
  margin-top: 4%;
}

.subject::placeholder {
  color: #0000009d;
}

.message {
  border: solid 1px #000;
  width: 96%;
  margin-top: 7%;
  padding: 2%;
  padding-bottom: 10%;
  overflow: hidden;
}

.message::placeholder {
  color: #0000009d;
}

.form-btn {
  margin-top: 4%;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 20px;
  background-color: #000;
  border: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.form-btn:hover {
  background-color: #7606d1;
  border: transparent;
  color: #fff;
}

.success-msg {
  padding: 10%;
  background-color: #fff;
  color: #270044;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  text-align: center;
}

.form-social {
  display: flex;
  justify-content: center;
  border-top: 1px solid;
  width: 70%;
  margin-top: 14%;
  margin-left: auto;
  margin-right: auto;
}

.form-social a {
  margin-top: 2%;
  padding: 2%;
  color: #000;
  font-size: 20px;
}

.send:active {
  display: none;
}

@media screen and (max-width: 800px) {
  .contact-haed {
    margin-top: 20%;
  }

  .container-contact {
    width: 90%;
  }

  .form {
    width: 80%;
    margin-top: 10%;
  }

  .form-btn {
    width: 50%;
  }

  .form-btn:active {
    background-color: #7606d1;
    color: #fff;
  }

  .form-social {
    margin-top: 25%;
  }

  .form-social a {
    margin-top: 10%;
  }

  .success-msg {
    padding-top: 50%;
    margin: 0;
    color: #270044;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
  }
}
